@model PaginationProductViewModel
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-2 mb-1">
    @foreach (var productDisplay in Model.Products) // Products = yeni modeldeki instance
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-2 mb-1">
        }
        <div class="col-3">
            <partial name="_ProductDisplay" model="productDisplay" />
            <!-- buradaki modeli _ProductDisplay modeline göndericez-->
        </div>
        columnCount += 1;
    }
</div>
<div page-model="Model.PaginationInfo" page-action="Index"></div>

@section Scripts{
    <script>
        $(document).ready(function(){/*hazır olduğunda fonksiyon çalıştır dedik*/
            $('.basket').on('click', function(){//basket isimli class olan butona tıklandığında
                let id = $(this).data('urunid');//data'sında urunid olanı al 
                $.ajax({
                    url:'./Shopping/AddProduct/'+id,
                    type:'GET',
                    success : function(data){     
                        alertify.success(data.message);
                    },
                    error:function(error){
                        console.log('hata', error)
                        alertify.error(error);
                    }
                });
            });
        });
    </script>
}
